.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
}
.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.nav-link {
  margin: 0 15px;
  color: #61dafb;
  text-decoration: none;
  font-size: 18px;
}
.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.notification-bell {
  position: absolute;
  right: 20px;
  font-size: 30px;
}
.notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
}
.notifications-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 15px
}
.notifications-dropdown .notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.notifications-dropdown .notification-item p {
  margin: 0;
}
.notifications-dropdown .notification-item button {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}
.notifications-dropdown .notification-item button:hover {
  color: darkred;
}.notifications-dropdown .notification-item img.notification-gif {
  width: 100px; /* Adjust width to make it smaller */
  height: auto; /* Maintain aspect ratio */
  margin-right: 8px; /* Space between the GIF and text */
}
.logo {
  position: absolute;
  left: 20px;
  height: 175px; /* Adjust as necessary */
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
th {
  background-color: #343a40;
  color: white;
  font-weight: bold;
}
td {
  background-color: white;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}
button:hover {
  background-color: #0056b3;
}
h1 {
  color: #343a40;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}
input[type="text"] {
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
  width: calc(100% - 16px);
}
div {
  margin-top: 20px;
}
.nav-link {
  margin: 0 10px; /* Add margin between links */
  /*color: white; /* Set text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition */
}

.nav-link:hover {
  color: #f0a500; /* Change color on hover */
}
